/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:active {
  outline: 0 !important;
}

*:hover {
  outline: 0 !important;
}

*:focus {
  outline: 0 !important;
}

body {
  margin: 0;
  font-family: -apple-system, LandRoverWeb, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  position: relative;
  font-weight: 400;
  line-height: 1.4;
  background-color: #ffffff;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

svg {
  width: 100%;
  height: 100%;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input, textarea {
  outline: none;
  border-radius: 0;
}

button {
  outline: none !important;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

form *:-webkit-autofill,
form *:-webkit-autofill:hover,
form *:-webkit-autofill:focus,
form *:-webkit-autofill:active {
  background-color: rgba(255, 255, 255, 0) !important;
  -webkit-text-fill-color: #000000 !important;
  color: #000000 !important;
  -webkit-transition: background-color 1000000s cubic-bezier(0.4, 0, 1, 1) 0s;
  transition: background-color 1000000s cubic-bezier(0.4, 0, 1, 1) 0s;
}

body, html {
  font-weight: 400;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  color: rgba(0, 4, 57, 0.75);
  line-height: 1;
  font-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  -webkit-text-size-adjust: none;
}

body.compensate-for-scrollbar {
  margin-right: 0;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
body::-webkit-scrollbar-track {
  background: #E4E8E8;
}
body::-webkit-scrollbar-thumb {
  background: #3EA1D2;
}

input, button {
  border-radius: 0;
  -webkit-appearance: none;
}

a {
  outline: none;
  color: rgba(0, 4, 57, 0.75);
}

.edge .svg_container,
.ie .svg_container {
  position: fixed;
  bottom: 20px;
  left: 0;
  top: 0;
}

.svg_container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

a[href] {
  outline: none;
  text-decoration: none;
  transition: 0.3s ease;
}

a.nav-link[href],
a:-webkit-any-link,
a.news-slider-item[href] {
  text-decoration: none;
}

main {
  overflow: hidden;
}

.container-main {
  padding: 2.6041666667vw 6.5104166667vw;
}

.container-250 {
  padding: 2.6041666667vw 13.0208333333vw;
}

header {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s ease;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

header.scrolled {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.logo-wrap {
  display: flex;
  flex-shrink: 0;
  width: 14.0625vw;
  height: 4.6875vw;
  margin-right: 2.0833333333vw;
  margin-left: 2.6041666667vw;
}

.logo-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: auto;
}

.nav-item {
  position: relative;
}

.sub-nav {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translate(0, 30%);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.sub-nav-item {
  display: flex;
  color: #777;
  letter-spacing: 0.075em;
  line-height: 1.2;
  white-space: nowrap;
  font-size: 0.8854166667vw;
  padding: 0.5208333333vw 1.0416666667vw;
  transition: 0.5s ease;
  opacity: 0.7;
}

.sub-nav-item:hover {
  opacity: 1;
}

.sub-nav-item:last-child {
  padding-bottom: 0.78125vw;
}

.sub-nav-item:first-child {
  padding-top: 0.78125vw;
}

.nav-link {
  display: flex;
  color: #777;
  position: relative;
  transition: 0.3s ease;
  line-height: 1.3;
  letter-spacing: 0.075em;
  font-size: 0.9375vw;
  padding: 0.78125vw 1.5625vw 0.78125vw;
}

.nav-link span {
  position: relative;
}

.nav-link span:before {
  content: "";
  width: 0;
  position: absolute;
  height: 1px;
  top: 100%;
  transition: 0.3s ease;
  left: 0;
  background: #054015;
}

.nav-item:hover .nav-link {
  color: #054015;
}
.nav-item:hover .nav-link span:before {
  width: 100%;
}

.nav-item:hover .sub-nav {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: all;
}

.header-socials {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #c1c1c1;
  padding: 0.5208333333vw 2.6041666667vw 0.5208333333vw 1.8229166667vw;
}

.header-socials-list {
  display: flex;
  align-items: center;
}

.header-socials-list a {
  display: flex;
  align-items: center;
  font-size: 0.7291666667vw;
}

.header-socials-list a + a {
  margin-left: 1.3020833333vw;
}

.header-socials-list a img {
  width: 1.0416666667vw;
  opacity: 0.7;
  height: 1.0416666667vw;
}

.header-socials-list a img + span {
  margin-left: 0.5208333333vw;
}

.header-login {
  display: flex;
  margin-left: auto;
}

.header-login a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.8229166667vw;
  height: 1.8229166667vw;
}

.header-nav {
  display: flex;
  align-items: center;
  padding-right: 2.6041666667vw;
}

.main-header {
  width: 100%;
  border-left: 1px solid #c1c1c1;
}

.search {
  display: none;
}

.search-btn {
  display: flex;
  align-items: center;
  width: 1.3020833333vw;
  height: 1.3020833333vw;
  justify-content: center;
  cursor: pointer;
}

.main-slider .slick-list,
.main-slider .slick-track,
.main-slider .slick-slide > div,
.main-slider .slick-slide {
  height: 100%;
}

.main-slider .slide-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-slider .slide-wrap {
  position: relative;
}

.main-slider .slide-content {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-slider .slide-title {
  font-size: 1.9791666667vw;
  color: #fff;
  line-height: 1.15;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.main-slider .slide-subtitle {
  font-size: 1.3020833333vw;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  margin-top: 1.0416666667vw;
}

.main-slider .slide-arrow {
  display: flex;
  position: absolute;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s ease;
  z-index: 10;
}

.main-slider .slide-arrow:hover {
  opacity: 1;
}

.main-slider .slide-arrow.prev {
  transform: rotate(180deg);
  left: 50px;
  top: 50%;
}

.main-slider .slide-arrow.next {
  right: 50px;
  top: 50%;
}

.main-slider .slide-wrap {
  height: 100%;
}

a.more {
  background: #00521b;
  color: #fff;
  display: flex;
  text-transform: uppercase;
  font-size: 0.8333333333vw;
  justify-content: center;
  align-items: center;
  padding: 1.0416666667vw 1.5625vw;
}

.main-slider .more {
  margin-top: 1.5625vw;
}

.main-slider .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
}

@media (min-width: 1201px) and (max-width: 1600px) {
  body, html {
    font-size: 0.8333333333vw;
  }
  .main-slider .slide-arrow {
    width: 2.6041666667vw;
    height: 2.6041666667vw;
  }
}

@media (min-width: 1601px) {
  body, html {
    font-size: 0.8333333333vw;
  }
  .main-slider .slide-arrow {
    width: 2.6041666667vw;
    height: 2.6041666667vw;
  }
}

@media (max-width: 1200px) {
  body, html {
    font-size: 14px;
  }
  .main-slider .slide-arrow {
    width: 2.6041666667vw;
    height: 2.6041666667vw;
  }
}

@media (max-width: 1024px) {
  .container-main {
    padding: 40px 50px;
  }
  .container-250 {
    padding: 30px 100px;
  }
  .logo-wrap {
    width: 80px;
    height: 70px;
    margin-right: auto;
  }
  header nav {
    display: none;
  }
}

@media (max-width: 750px) {
  .container-main {
    padding: 20px;
  }
}

@media (max-width: 700px) {
  body, html {
    font-size: 12px;
  }
}

@media (max-width: desktoppx) {
  body, html {
    font-size: 0.8333333333vw;
  }
  .main-slider .slide-arrow {
    width: 2.6041666667vw;
    height: 2.6041666667vw;
  }
}