.about-wrap
    display: flex
    align-items: center
    justify-content: space-between
    padding: get-vw(40px) 0
    +mediaSize(1024)
        flex-direction: column
        padding: 50px 0

.about-text
    width: get-vw(800px)
    display: flex
    flex-direction: column
    align-items: flex-start
    +mediaSize(1024)
        width: 100%
        max-width: 630px
        align-items: center

.about-text .about-content *
    +mediaSize(1024)
        text-align: center

.about-image
    width: get-vw(800px)
    height: get-vw(500px)
    +mediaSize(1024)
        width: 80%
        margin-left: auto
        margin-right: auto
        height: auto
        margin-top: 50px
        max-height: 500px

.about-image img
    width: 100%
    height: 100%
    object-fit: contain

.lined-title
    font-size: get-vw(42px)
    position: relative
    margin-bottom: get-vw(40px)
    font-family: $playfair
    +letterSpace(50)
    line-height: 1.3
    text-transform: uppercase
    +mediaSize(1024)
        font-size: 25px
        margin-bottom: 25px
        margin-left: auto
        margin-right: auto
        text-align: center


.lined-title:before
    content: ''
    display: flex
    position: absolute
    top: 100%
    left: 0
    height: 2px
    background: $lightBlue
    width: 50%

.about-content p
    font-size: get-vw(20px)
    line-height: 1.5
    color: $blue75
    +letterSpace(50)

.about-text a.main-btn
    margin-top: get-vw(40px)
    +mediaSize(1024)
        margin-top: 25px




