.editor-content
    font-size: get-vw(22px)
    line-height: 1.35
    color: #6a6a6f

.editor-content > p
    font-size: get-vw(22px) !important
    line-height: 1.35!important
    color: #6a6a6f!important


.editor-content > p img
    max-width: 100%

