footer
    width: 100%
    margin-top: get-vw(80px)

.footer-logo
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: get-vw(80px)
    +mediaSize(1024)
        margin-bottom: 50px
    +mediaSize(750)
        margin-bottom: 30px
        flex-direction: column

.footer-logo-img
    width: get-vw(125px)
    height: get-vw(100px)
    display: flex
    margin-right: get-vw(30px)
    +mediaSize(1024)
        width: 9vw
        height: 9vw
    +mediaSize(750)
        margin-right: 0
        width: 15vw
        height: 15vw
        max-width: 90px
        max-height: 90px
        margin-bottom: 5px
    +mediaSize(500  )
        width: 20vw
        height: 20vw

.footer-logo-img img
    width: 100%
    object-fit: contain
    height: 100%

.footer-logo-text
    display: flex
    flex-direction: column

.footer-logo-text .university
    font-size: get-vw(18px)
    +letterSpace(50)
    color: $blue55
    margin: get-vw(20px) 0 get-vw(10px)
    +mediaSize(1024)
        font-size: 10px
        margin: 5px 0
    +mediaSize(500)
        font-size: 8px

.footer-logo-text .department
    font-size: get-vw(38px)
    +letterSpace(50)
    color: $blue55
    +mediaSize(1024)
        font-size: 20px
    +mediaSize(500)
        font-size: 16px

.footer-contacts
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: get-vw(55px)
    +mediaSize(1024)
        margin-bottom: 30px

.contact-list
    display: flex
    justify-content: center
    align-items: flex-start
    +mediaSize(1024)
        width: 100%
    +mediaSize(750)
        flex-direction: column
        align-items: center

.contact-item
    display: flex
    flex-direction: column
    align-items: center
    padding: 0 get-vw(50px)
    width: get-vw(450px)
    +mediaSize(1024)
        width: 33%
        padding: 0 20px
    +mediaSize(750)
        padding: 20px 0
        width: 65%
        max-width: 320px

.contact-item + .contact-item
    border-left: 1px solid $blue40
    +mediaSize(750)
        border-left: none
        border-top: 1px solid $blue40

.contact-item .contact-icon
    width: get-vw(35px)
    height: get-vw(35px)
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: get-vw(30px)
    +mediaSize(1024)
        width: 25px
        height: 25px
        margin-bottom: 20px

.contact-icon svg
    fill: $blue55

.contact-text
    font-size: get-vw(21px)
    +letterSpace(50)
    +mediaSize(1024)
        font-size: 14px
        text-align: center

.contact-text + .contact-text
    margin-top: get-vw(5px)
    +mediaSize(1024)
        margin-top: 5px

.socials-list
    display: flex
    justify-content: center
    align-items: center
    margin-top: get-vw(70px)

.socials-list a
    display: flex
    width: get-vw(50px)
    height: get-vw(50px)
    border-radius: 50%
    background: $lightBlue70
    justify-content: center
    align-items: center
    transition: 0.3s ease
    opacity: 0.7
    +mediaSize(1024)
        opacity: 0.8
        height: 40px
        width: 40px

.socials-list a:hover
    opacity: 1

.socials-list a + a
    margin-left: get-vw(25px)
    +mediaSize(1024)
        margin-left: 15px

.socials-list a img
    fill: #fff
    display: flex
    width: get-vw(30px)
    height: get-vw(30px)
    +mediaSize(1024)
        width: 20px
        height: 20px

.copyright
    display: flex
    justify-content: space-between
    background: #3d3d3d
    padding: get-vw(15px) get-vw(100px)
    +mediaSize(1024)
        padding: 10px 50px
    +mediaSize(750)
        padding: 10px 20px


.copyright p
    color: #fff
    font-size: get-vw(15px)
    +letterSpace(50)
    +mediaSize(1024)
        font-size: 12px
    +mediaSize(1024)
        font-size: 9px

