.news-item
    position: relative
    box-shadow: 0 3px 6px rgba(0,0,0,.2)
    width: get-vw(520px)
    margin-top: get-vw(50px)
    display: flex
    flex-direction: column
    +mediaSize(1024)


.home-page .news-item
    +mediaSize(1024)
        width: 42vw
        flex-shrink: 0
        margin-bottom: 15px
    +mediaSize(750)
        max-width: 360px
        width: 82vw
        margin-right: 12px

.news-image
    display: flex
    width: 100%
    height: get-vw(360px)
    +mediaSize(1024)
        height: 27vw
    +mediaSize(750)
        height: 58vw
        max-height: 230px

.news-image img
    height: 100%
    object-fit: cover
    width: 100%

.news-info
    padding: get-vw(25px) get-vw(20px)
    display: flex
    flex-direction: column
    align-items: flex-start
    flex-grow: 4
    +mediaSize(1024)
        padding: 20px 15px 15px

.news-title
    font-size: get-vw(24px)
    +letterSpace(70)
    font-weight: 500
    line-height: 1.2
    margin-bottom: get-vw(15px)
    +mediaSize(1024)
        margin-bottom: 10px
        font-size: 18px

.news-detail
    display: flex
    align-items: center
    justify-content: flex-start

.news-detail-item
    display: flex
    align-items: center

.news-detail-item p
    font-size: get-vw(15px)
    +letterSpace(100)
    font-weight: 500
    color: $blue40
    +mediaSize(1024)
        font-size: 12px

.news-detail-item svg
    display: flex
    fill: $blue40
    width: get-vw(25px)
    height: get-vw(25px)
    margin-right: get-vw(10px)
    +mediaSize(1024)
        width: 20px
        height: 20px
        margin-right: 10px

.news-detail-item + .news-detail-item
    margin-left: get-vw(25px)
    +mediaSize(1024)
        margin-left: 15px

.news-text
    font-size: get-vw(18px)
    line-height: 1.38
    +letterSpace(50)
    margin-top: get-vw(20px)
    margin-bottom: get-vw(30px)
    +mediaSize(1024)
        font-size: 12px
        margin-top: 10px
        margin-bottom: 15px
    +mediaSize(750)
        margin-bottom: 20px
        margin-top: 15px

.main-btn.light
    background: $transparent
    border: 1px solid $lightBlue
    color: $lightBlue
    transition: 0.3s ease
    position: relative

.main-btn.white
    background: $transparent
    border: 1px solid #fff
    color: #fff
    font-size: get-vw(15px)
    text-transform: uppercase
    padding: get-vw(15px) get-vw(25px)
    +mediaSize(1024)
        font-size: 9px
        padding: 8px 10px


.main-btn.light:before,
.main-btn.white:before
    content: ''
    display: flex
    position: absolute
    top: -1px
    bottom: -1px
    background: $lightBlue
    height: calc(100% + 2px)
    left: 50%
    transform: translate(-50%, 0)
    width: 0
    z-index: -1
    transition: 0.4s ease

.main-btn.white:before
    background: #fff

.main-btn.light:hover:before,
.main-btn.white:hover:before
    width: calc(100% + 2px)

.main-btn.light:hover
    color: #fff

.main-btn.white:hover
    color: $blue75

.news-info .main-btn
    margin-top: auto
    margin-left: auto
    margin-right: auto

.date-label
    position: absolute
    background: $lightBlue70
    left: get-vw(20px)
    top: get-vw(20px)
    display: flex
    justify-content: center
    align-items: center
    width: get-vw(100px)
    height: get-vw(100px)
    flex-direction: column
    +mediaSize(1024)
        width: 60px
        height: 60px
        top: 10px
        left: 10px

.date-label p
    color: #fff
    +letterSpace(100)
    font-weight: 700

.date-label .day
    font-size: get-vw(30px)
    +mediaSize(1024)
        font-size: 20px

.date-label .mounth
    font-size: get-vw(20px)
    margin-top: get-vw(5px)
    +mediaSize(1024)
        font-size: 12px
        margin-top: 5px

.news-container
    width: 100%
    padding: get-vw(80px) 0
.container-125
    padding: 0 get-vw(125px)
.container-300
    padding: 0 get-vw(300px)

.news-wrapper
    display: flex
    flex-wrap: wrap
    width: 100%

    justify-content: flex-start

.home-page .news-wrapper
    +mediaSize(1024)
        overflow: auto
        width: calc(100% + 100px)
        margin-left: -50px
        margin-right: -50px
        flex-wrap: nowrap
        //+scrollbarThin
    +mediaSize(750)
        width: calc(100% + 40px)
        margin: 20px -20px

.news-wrapper:before,
.news-wrapper:after
    +mediaSize(1024)
        content: ''
        min-width: 50px
    +mediaSize(750)
        min-width: 20px


.news-item:nth-child(3n+1)
    margin-left: 0!important

.news-wrapper .news-item + .news-item
    margin-left: get-vw(45px)

.block-title
    display: flex
    flex-direction: column
    align-items: center


.block-heading
    font-family: $playfair
    font-size: get-vw(42px)
    +letterSpace(50)
    padding-bottom: get-vw(25px)
    text-transform: uppercase
    +mediaSize(1024)
        font-size: 26px
        padding-bottom: 20px
    +mediaSize(750)
        font-size: 22px
        padding-bottom: 15px

.block-subtitle
    font-size: get-vw(20px)
    +letterSpace(50)
    padding-bottom: 10px
    +mediaSize(1024)
        font-size: 14px
    +mediaSize(750)
        font-size: 12px
        text-align: center

.block-title-decor
    display: flex
    justify-content: center
    align-items: center

.block-title-icon
    width: get-vw(50px)
    height: get-vw(45px)
    display: flex
    align-items: center
    justify-content: center
    margin: 0 get-vw(20px)
    +mediaSize(1024)
        margin: 0 15px
        width: 40px
        height: 35px
    +mediaSize(750)
        width: 30px
        height: 30px

.block-title-decor .line
    width: get-vw(220px)
    background: $lightBlue
    height: 3px
    +mediaSize(1024)
        height: 2px
        width: 200px
    +mediaSize(750)
        height: 1px
        width: 150px
    +mediaSize(450)
        width: 110px

.news-category
    display: flex
    align-items: center
    justify-content: space-between

.category-item
    font-size: get-vw(25px)
    +letterSpace(50)
    position: relative
    color: $blue55
    cursor: pointer

.category-item.active,
.category-item:hover
    color: $lightBlue

.category-item:before
    position: absolute
    top: 100%
    left: 0
    right: 0
    background: $lightBlue
    width: 0
    height: 1px
    content: ''
    transition: 0.3s ease

.category-item.active:before,
.category-item:hover:before
    width: 100%

.category-item + .category-item
    margin-left: get-vw(60px)







